// .form {
//   width: 100%;
//   display: inline-flexbox;
//   border-color: red;
// }

// .logo {
//   position: relative;
//   margin-left: 100px;
//   padding-left: 100px;
// }

// .primary {
//   float: left;
//   display: block;
// }

// .secondary {
//   height: 20px;
//   width: 100px;
//   padding-top: 150px;
// }

// .cds--btn{
//   margin-top: 1px;
//   padding: auto;
// }

.cds--btn--primary{
  margin-right: 1425px;
  margin-top: 15px;
}

.cds--btn--secondary{
  margin-left: 830px;
  margin-top: -37px;
}